@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*basic*/
html,body,div,p,ol,ul,li,img,a,form,select,input,textarea,span,iframe,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,td{
margin:0px;padding:0;font-family: 'Nanum Gothic',sans-serif;font-size:12px;color:#666;line-height:21px;box-sizing:border-box;}
body{height:100%;}
/*div,p,li,dt,dd,span{text-align:justify;}*/
img,hr,p{border:0;vertical-align:middle;padding:0;margin:0;}
fieldset,textarea,select,input{vertical-align:middle;padding:0;margin:0;}
textarea{resize:none;}
ul,ol,li,dt,dd,dl{list-style:none;margin:0;padding:0;}
caption{visibility:hidden;width:0;height:0;font-size:0;line-height:0;overflow:hidden;}
*{-webkit-text-size-adjust:none;}


/*link*/
a{text-decoration:none;display:inline-block;}
a:link{color:#666;}
a:visited{color:#666;}
a:hover{color:#897262;}
a:active{color:#666;}


/*layout*/
#wrap{min-width:320px;width:100%;}


/*header*/
#header{position:relative;min-width:320px;width:100%;height:80px;background:#e9eae9;}
#header h1{position:absolute;top:28px;left:50%;width:185px;height:25px;margin-left:-92px;}
#header h1 img{width:100%;}
#header dl{width:100%;height:25px;padding:27px 10px;display:inline-block;}
#header dl dt{float:left;width:50%;}
#header dl dd{float:left;width:50%;text-align:right;}
#header dl img{width:25px;}


/*navi*/
#navi{min-width:320px;width:100%;min-height:500px;background:#111;opacity:.90;}
#navi .gnb{width:100%;display:table;}
#navi .gnb li{float:left;}
#navi .gnb li a{width:100%;height:70px;padding:10px 0;text-align:center;display:block;}
#navi .gnb li a img{width:25px;margin-top:3px;}
#navi .gnb li a p{color:#fff;font-size:13px;font-weight:600;}
#navi .gnb li.w33{width:33%;}
#navi .gnb li.w34{width:34%;}

#navi .lnb{width:100%;background:#fff;}
#navi .lnb ul{width:100%;display:inline-block;}
#navi .lnb .depth01{width:100%;height:40px;padding:0 10px;border-bottom:1px solid #e0e0e0;}
#navi .lnb .depth01 a{color:#111;font-size:13px;line-height:40px;display:block;}
#navi .lnb .depth02{width:100%;background:#202020;}
#navi .lnb .depth02 ul li{padding:0 10px;height:40px;background:url(../images/common/icon_arrow.png)no-repeat 96% 50%;background-size:13px;border-bottom:1px solid #6c6c6c;}
#navi .lnb .depth02 ul li a{color:#e1e1e1;line-height:40px;display:block;}

.naviOpen{background:url(../images/common/icon_minus.gif)no-repeat 96% 50%;background-size:12px;}
.naviClose{background:url(../images/common/icon_plus.gif)no-repeat 96% 50%;background-size:10px;}


/*visual*/
#visual{position:relative;min-width:320px;width:100%;}
#visual p a{width:100%;}
#visual p a img{width:100%;}
#visual span{position:absolute;bottom:40px;width:100%;text-align:center;display:block;}
#visual span a img{width:20px;}


/*main*/
#section01{min-width:320px;width:100%;padding:30px 10px;background:#f4f4f4;}
#section01 ul{width:100%;display:inline-block;}
#section01 ul li{float:left;width:25%;text-align:center;}
#section01 ul li a{width:60px;}
#section01 ul li a p{width:60px;height:60px;background:#fff;border:1px solid #f95839;border-radius:100px;}
#section01 ul li a p img{width:30px;padding:15px 0;}
#section01 ul li a span{padding-top:10px;color:#333;line-height:18px;word-break:keep-all;display:inline-block;}

#section02{min-width:320px;width:100%;padding:45px 10px;background:#79b6af;}
#section02 span{text-align:center;display:block;}
#section02 span img{width:50px;}
#section02 h1{margin-top:10px;color:#fff;font-size:18px;font-weight:600;text-align:center;}
#section02 ul{width:100%;margin-top:20px;border-left:1px solid #f7c518;display:inline-block;}
#section02 ul li{float:left;width:50%;}
#section02 ul li a{width:100%;height:40px;color:#fff;font-size:13px;text-align:center;font-weight:600;line-height:40px;border:1px solid #f7c518;border-left:none;}
#section02 ul li a.on{background:#f7c518;}
#section02 dl{width:100%;margin-top:10px;display:inline-block;}
#section02 dl dt{float:left;width:75%;height:30px;padding-left:10px;background:url(../images/main/icon_dot.gif) no-repeat 0 50%;background-size:2px;}
#section02 dl dt a{width:95%;line-height:30px;color:#fff;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#section02 dl dd{float:left;width:25%;height:30px;color:#fff;line-height:30px;text-align:right;}
#section02 p{margin-top:10px;}
#section02 p a{width:100%;height:40px;color:#fff;font-size:13px;font-weight:600;text-align:center;line-height:40px;border:1px solid #fff;}

#section03{min-width:320px;width:100%;padding:45px 10px;background:url(../images/main/time_bg.jpg) no-repeat top center;background-size:100% 100%;}
#section03 span{text-align:center;display:block;}
#section03 span img{width:50px;}
#section03 h1{margin-top:10px;color:#333;font-size:18px;font-weight:600;text-align:center;}
#section03 dl{width:300px;margin:0 auto;padding-top:20px;display:table;}
#section03 dl dt{float:left;width:30%;height:34px;padding:3px 0;}
#section03 dl dt b{width:100%;height:26px;color:#7586a0;font-size:13px;text-align:center;line-height:28px;font-weight:normal;border:1px solid #7586a0;border-radius:100px;display:inline-block;}
#section03 dl dd{float:left;width:70%;height:34px;padding:3px 0 3px 15px;color:#333;font-size:14px;font-weight:600;line-height:28px;letter-spacing:-0.5px;}
#section03 dl dd i{color:#666;font-size:11px;font-weight:normal;font-style:normal;}
#section03 p{margin-top:15px;text-align:center;}
#section03 ul{width:100%;margin-top:20px;display:inline-block;}
#section03 ul li{float:left;width:50%;padding:0 5px;}
#section03 ul li a{width:100%;height:40px;color:#fff;font-weight:600;line-height:40px;text-align:center;background:#5a9eb5;}
#section03 ul li a img{width:20px;margin-right:7px;}


/*sub*/
#container{min-width:320px;width:100%;}
#container .path{position:relative;width:100%;height:100px;}
#container .path h1{width:100%;height:100px;color:#fff;font-size:17px;text-align:center;line-height:100px;}
#container .path a{position:absolute;top:40px;width:12px;}
#container .path a img{width:100%;}
#container .path a.pathBtn01{left:10px;}
#container .path a.pathBtn02{right:10px;}

.sub01{background:url(../images/about/visual.jpg) no-repeat;background-size:100%;}
.sub02{background:url(../images/special/visual.jpg) no-repeat;background-size:100%;}
.sub03{background:url(../images/program/visual.jpg) no-repeat;background-size:100%;}
.sub04{background:url(../images/community/visual.jpg) no-repeat;background-size:100%;}

#container .content{padding:30px 10px 50px 10px;word-break:keep-all;}
#container .content h1{color:#333;font-size:15px;font-weight:600;}
#container .content h2{padding-top:8px;color:#333;font-size:14px;font-weight:600;background:url(../images/common/title_bar.gif) no-repeat top left;}
#container .content hr{height:1px;margin:50px 0;border-bottom:1px dashed #b7b7b7;}

#container .content .depth03{width:100%;margin:15px 0 30px 0;}
#container .content .depth03 p{height:40px;border:1px solid #ccc;}
#container .content .depth03 p a{width:100%;padding-left:10px;line-height:40px;}
#container .content .depth03 p a span{float:right;width:40px;height:38px;color:#fff;font-size:13px;text-align:center;line-height:38px;background:#ccc;display:block}
#container .content .depth03 ul{width:100%;border:1px solid #ccc;border-bottom:none;border-top:none;display:inline-block;}
#container .content .depth03 ul li{border-bottom:1px solid #ccc;}
#container .content .depth03 ul li a{width:100%;padding-left:10px;line-height:40px;}


/*about*/
#container .content ul.vision{width:100%;display:inline-block;}
#container .content ul.vision li{padding:20px 0;}
#container .content ul.vision li p{margin-top:10px;}
#container .content ul.vision li p img{width:100%;}
#container .content ul.vision li span{margin-top:10px;display:block;}

#container .content .map{margin-top:15px;height:200px;background:#efefef;}
#container .content .mapInfo{position:relative;width:100%;}
#container .content .mapInfo p{position:absolute;top:0;left:0;width:32px;}
#container .content .mapInfo p img{width:100%;}
#container .content .mapInfo dl{width:100%;padding-left:55px;}
#container .content .mapInfo dl dt{height:32px;color:#333;font-size:13px;font-weight:600;line-height:32px;}
#container .content .mapInfo dl dt span{color:#fb836b;font-size:13px;}
#container .content .mapInfo dl dd{margin-top:5px;}

#container .content .around .bigImg{margin-top:15px;}
#container .content .around .bigImg img{width:100%;}
/*
#container .content .around .thumb{position:relative;width:100%;margin-top:10px;background:gray;}
#container .content .around .thumb a.btnPrev{position:absolute;top:0;left:0;width:25px;}
#container .content .around .thumb a.btnNext{position:absolute;top:0;right:0;width:25px;}

#container .content .around .thumb ul{width:80%;margin:0 auto;background:red;display:table;}
#container .content .around .thumb ul li{float:left;width:23%;margin:0 1%;}
#container .content .around .thumb ul li a{position:relative;}
#container .content .around .thumb ul li a img{width:100%;}
#container .content .around .thumb ul li a p{position:absolute;top:0;left:0;}
*/
/* 160518 수정, 추가: 김재홍 */
#container .content .around .thumb { position: relative; margin: 15px auto 0; width: 300px; height: 30px; }
#container .content .around .thumb ul { overflow: hidden; margin: 0 auto; width: 250px; }
#container .content .around .thumb ul li { position: relative; float: left; width: 55px; height: 30px;}
#container .content .around .thumb ul li img { width: 55px; height: 30px; }
#container .content .around .thumb ul li.active span { position: absolute; left: 0; top: 0; width: 100%; height: 100%; border: 2px solid #000; background-color: #fff; opacity: .6; }
#container .content .around .thumb > a { position: absolute; top: 0; width: 25px; height: 30px; }
#container .content .around .thumb > a img { width: 100%; height: 100%; }
#container .content .around .thumb > a.btnPrev { left: 0; }
#container .content .around .thumb > a.btnNext { right: 0; }
/* // 160518 수정, 추가: 김재홍 */


/*community*/
.inquiry{width:100%;margin-top:20px;border-top:2px solid #6e6e6e;}
.inquiry ul{width:100%;display:inline-block;}
.inquiry ul li{padding:10px;border-bottom:1px dashed #7f7f7f;}
.inquiry ul li a{width:65%;}
.inquiry ul li a p{float:left;width:90%;color:#444;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.inquiry ul li a u{float:left;width:10%;text-align:right;}
.inquiry ul li i{float:right;width:70px;display:block;}
.inquiry ul li i img{width:100%;margin-top:7px;}

/*.inquiry ul li a img{width:10px;margin-left:5px;}
.inquiry ul li i{float:right;width:70px;display:block;}
.inquiry ul li i img{width:100%;}*/


/*footer*/
#footer{min-width:320px;width:100%;padding:40px 0;margin-bottom:60px;background:#282c25;}
#footer ul{width:100%;padding:0 5px;display:inline-block;}
#footer ul li{float:left;width:33%;padding:0 5px}
#footer ul li a{width:100%;height:30px;color:#777;text-align:center;line-height:30px;letter-spacing:-1px;border:1px solid #7b7c7a;}
#footer h1{margin-top:30px;text-align:center;}
#footer h1 img{width:185px;}
#footer p{margin-top:15px;color:#fff;text-align:center;letter-spacing:-0.5px;}
#footer span{margin-top:20px;color:#fff;text-align:center;letter-spacing:-0.5px;display:block;}
#footer span a{color:#fff;}


/*quick*/
#quick{position:fixed;bottom:0;left:0;width:100%;height:60px;background:red;}
#quick ul{width:100%;display:inline-block;}
#quick ul li{float:left;width:25%;}
#quick ul li a{width:100%;padding:10px 0;text-align:center;}
#quick ul li a img{width:24px;}
#quick ul li a span{padding-top:3px;color:#fff;font-size:11px;display:block;}
.quick01{background:#7586a0;}
.quick02{background:#fb836b;}
.quick03{background:#79b6af;}
.quick04{background:#5a9eb5;}


/*font*/
.tac{text-align:center;}
.tar{text-align:right;}
.tal{text-align:left;}
.vtop{vertical-align:top;}

.f13{font-size:13px;}
.f14{font-size:14px;}
.f15{font-size:15px;}

.text01{color:#79b6af;}
.text02{color:#fb836b;}


/*form*/
.input01{height:18px;padding:5px;font-size:12px;border:1px solid #d0d0d0;}
.select01{height:30px;padding:5px;font-size:12px;border:1px solid #d0d0d0;}


/*common*/
.left{float:left;}
.right{float:right;}
.clear{clear:both;}

.w570{width:570px;}

.mt5{margin-top:5px;}
.mt7{margin-top:7px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt45{margin-top:45px;}
.mt50{margin-top:50px;}
.mt55{margin-top:55px;}
.mt60{margin-top:60px;}

.mr5{margin-right:5px;}
.mr7{margin-right:7px;}
.mr10{margin-right:10px;}
.mr12{margin-right:12px;}
.mr20{margin-right:20px;}

.ml5{margin-left:5px;}
.ml7{margin-left:7px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml45{margin-left:45px;}

.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px;}

.dnone{display:none;}
